[Desktop Entry]
Name=RewindOS
Comment=Privacy-first screen capture and search
Exec=rewindos --minimized
Icon=com.jay.rewindos
Type=Application
Categories=Utility;
StartupWMClass=com.jay.rewindos
X-GNOME-Autostart-enabled=true
