[Desktop Entry]
Name=RewindOS
Comment=Privacy-first screen capture and search
Exec=rewindos --minimized
Icon=io.github.jaypopat.rewindos
Type=Application
Categories=Utility;
StartupWMClass=rewindos
X-GNOME-Autostart-enabled=true
